common css*/

* { margin: 0px; padding: 0px; list-style: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; }
img { max-width: 100%; height: auto; width: auto\9; / ie8 / border: none; outline: none; vertical-align: middle; }
a,
a:focus { outline: none; }
a:hover,
a:focus {text-decoration: none; }
body{overflow-x: hidden;}
p{margin:0px; padding:0px; font-size: 16px; color: #666; line-height: 26px; font-family: lato;}
/*common css*/


/*careers css start*/
.team-outer{border: 1px solid #cae0e7; border-top: 3px solid #7cc26b !important;padding: 30px 40px 35px 40px;text-align: center; margin-bottom: 30px;display:block;min-height: 268px;}


.images-in{margin-bottom: 15px;}
.team-text-in h4 {margin-bottom: 10px; }
.team-text-in p{font-size: 15px; line-height: 22px;color: #666666;}

/*careers css start*/

a:hover{text-decoration:none;}
.banner-section{position:relative;}
.banner-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(78, 62, 107, 0.9);
    width: 100% !important;
    height: 100% !important;
    z-index: 1000;
    visibility: visible;
}
.career-heading {
    font-weight: bold;
    font-size: 28px;
    color: #000;
}
.career-link {
    font-size: 16px;
    color: #181818;
    padding-top: 5px;
}
.career-heading-section {
    padding: 20px 0px;
}
.career-heading-section {
    padding: 20px 0px;
    margin-top: -59px;
    position: absolute;
    z-index: 99999;
    width: 100%;
}
.career-row{background:#fff;padding: 20px 23px;box-shadow: 0px 1px 4px rgba(133,150,155,0.4);-ms-box-shadow: 0px 1px 4px rgba(133,150,155,0.4);-moz-box-shadow: 0px 1px 4px rgba(133,150,155,0.4);-webkit-box-shadow: 0px 1px 4px rgba(133,150,155,0.4);}
.home-link{color:#181818;}
.content-section {margin-top: 89px; padding-bottom:40px; }
.main-content-heading {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 14px;
    font-size: 22px;
    font-weight: 600;
}
.border-divider{background:#194067; width:50%; height:5px;}
.border-divider {
    background: #194067;
    width: 20%;
    height: 3px;
    margin-top: -5px;
}
.family-para {
    font-size: 16px;
    color: #666666;
    padding-top: 21px;
    font-weight: 400;
    font-family: lato;
    line-height: 26px;
}



/*join-outer start*/
.join-outer {padding-top: 35px; }
/*join outer end*/
/*===============Career Css End=============*/


/*-------------------------------Company page start------------------------*/
.company-small-tag h2 {
    font-size: 36px;
    line-height: 50px;
    margin-top: 15px;
    
}

.company-left-text h2 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 216px;
    margin-left: 112px;
    color:#7cc26b;
    padding: 20px;
}
.company-summary {
    position: relative;
    padding-bottom:30px;
    padding-top:30px;
}
.company-summary:after {content:"";position: absolute;top: 0; left:auto; right:-70px; width: 2px; height: 100%; background: #e1e1e1;}
.company-summayr-second:after {display: none;}
.company-pg hr {
    height: 3px;
    background: #4e3e6b;
    margin: 40px 0px;
}

.company-summayr-second .methodology-list li a {color: #666; text-decoration: underline; font-weight: 600; }
.company-summayr-second .methodology-list li a:hover {text-decoration: none; }
.download-btn.down-pd img {margin-left: 35px;}
.download-btn {transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;}
.download-btn:hover {background:#17313b;}


/*------------------------------------Company page end-----------------------------------*/

/*-----------------------------------methodology page start------------------------------*/

.content-section.methodology-pg { padding-bottom: 50px;}
.methodology-inner{padding-left: 55px;  position: relative;}
.methodology-inner span {display: block; width: 38px; height: 38px; background: #7cc26b; text-align: center; color: #fff; font-weight: 600; border-radius: 50%; line-height: 38px; position: absolute; left: 0; top:15px; }
.methodology-list{margin: 0px; padding:0px;padding-left: 18px;list-style: none;}
.methodology-list li{font-size: 16px; padding: 5px 0px; font-family: lato; position: relative;}
.methodology-list li:after {width: 8px; height: 8px; background: #666666; position: absolute; left: -18px; top: 13px; content: ""; border-radius: 50%; right: auto; }
.spacetb{margin:30px 0px;}
.methodology-outer .spacetb {margin: 30px 0px; margin-bottom:20px;border-top: 1px solid #e0e0e0; }
.methodology-pg .family-para strong {color: #17313b;}
.methodology-list li strong {color: #666666;}

/*-------------------------------methodology page end-----------------------------------*/

.head-pd{margin-bottom: 40px;}

.family-para.membership-details {padding-top: 0; }
.join-community-pg {padding-bottom: 15px;}

.join-details {position: relative;margin-bottom: 40px;padding-top: 20px;padding-left: 165px;padding-right: 185px;padding-bottom: 20px;
    border: 1px solid #cae0e7; min-height: 131px;}

.blue-bg {
    width: 124px;
    height: 100%;
    display: block;
    background: #4e3e6b;
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 124px;
    position: absolute;
    left: 0;
    top: 0;
}

.blue-bg::after {
    content: "";
    top: 40%;
    right: 0;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 16px solid #4e3e6b;
    border-bottom: 13px solid transparent;
    position: absolute;
    left: 100%;
}


.green-bg {
    width: 124px;
    height: 100%;
    display: block;
    background: #7cc26b;
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 124px;
    position: absolute;
    left: 0;
    top: 0;
}

.green-bg::after {
    content: "";
    top: 40%;
    right: 0;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 16px solid #7cc26b;
    border-bottom: 13px solid transparent;
    position: absolute;
    left: 100%;
}



.join-icon {position: absolute; right: 40px; top: 23px; left: auto; }
.join-text h4 {padding-bottom:5px; } 

.content-section.membership-pg{padding-bottom: 60px; }
.membership-in-img{margin-top:40px;}
.membership-in-two {margin-top: 67px; }
.membership-in-two a{background:#7cc26b; color: #fff; }
.membership-in-two .download-btn{border:none;}
.membership-in-three {padding-left: 200px; margin-top: -30px; }
.membership-pg .family-para {padding-top: 10px;}
.green-bg-cls{background: #7cc26b;}
.membership-green{margin-top: 95px; margin-bottom:40px;}
.membership-green p { font-size: 18px; color: #fff;}
.membership-pg .membership-green .family-para {padding:30px;line-height: 26px;}
.membership-pg .membership-green .family-para strong{color: #fff;}
.membership-pg .btn-info {border-radius: 0px;background:#7cc26b; color: #fff; font-size: 14px; text-transform: uppercase;height: 45px;
padding: 0px 30px;transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;
}

.membership-pg .btn-info:hover{background: #17313b; color: #fff; }
.registration-in .form-control:focus{box-shadow: none; }
.submit-btn-member .btn-info {border: none;}


/*------------------------registration start-------------------------*/

.form-group.registration-in::after {
    content: "";
    clear: both;
    display: block;
}
.form-group.registration-in {
    position: relative;
}
.registration-in label {
    margin-bottom: 8px;
    font-size: 16px;
    color: #666;
}
.registration-in select, .registration-in input {
    height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;

}

.registration-in .note {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    display: block;
}

.form-outer {
    margin-bottom: 60px;
}

.form-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.dp-icon{position: relative;}
.dp-icon::after {
    width: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    content: "";
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #555;
    pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    -moz-pointer-events: none;
    -o-pointer-events: none;
}

/*---------------------------registration end--------------------------*/

/*--------------------------write-for-us page start--------------------*/
.write-pg{margin-top: 40px;}
.write-title {margin-top: 90px; }
.write-inner {padding: 30px; }
.write-inner .family-para {color: #fff;font-size: 18px;line-height: 28px;padding-top: 0; }
.write-para {padding: 0; }
.write-pg .methodology-list li a {display: block; color: #666; text-decoration: underline; }
.write-pg .methodology-list li:hover a{text-decoration: none; }
.write-top-para {margin-top: 40px; margin-bottom: 10px; }
.write-top-para p {font-size: 18px; }

.gray-section{background:#f3f4f5; padding: 40px 0px;margin-top: 50px;}
.gray-section .methodology-inner {padding-left:0px;margin-top: 20px; }
.gray-section p a{color:#17313b;font-weight: 500;text-decoration:underline;}
.gray-section p a:hover{text-decoration:none;}


.editorial-section, .pitch-section {padding: 40px 0px;}
.editorial-section .methodology-inner, .pitch-section .methodology-inner {padding-left:0px;margin-top: 20px; }
.pitch-section .family-para {padding-top: 0px;}
.download-btn {display: inline-block; height: 58px; border: 1px solid #cae0e7; line-height: 58px; padding: 0px 25px; color: #666; font-size: 16px; }
.down-pd {margin: 20px 0px 30px 0px;}


.content-section.methodology-pg.write-pg {padding-bottom: 0px;}
.pitch-section .main-content-heading {border-bottom: 2px solid #93cb85; color: #fff; }
.pitch-section .border-divider {background: #fff;}
.pitch-section .family-para, .pitch-section .family-para { color: #fff;}

.why-write-section{padding-bottom: 0px;}
.why-write-section .family-para a{color: #666; text-decoration: underline;font-weight: 600;}
.why-write-section .family-para a:hover{text-decoration: none;}


/*slider start*/
.slider-one {margin-top: 55px; position: relative; width: 100%;display:inline-block; }
.categories-in {text-align: center; display: block; padding: 40px 15px 25px 15px; border: 1px solid #cae0e7; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(202, 224, 231); border-top: 3px solid #7cc26b !important; min-height: 225px; }
.categories-img {display: inline-block; vertical-align: top; }
.categories-text {display: block; margin-top: 25px; }

/*.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {display: inline-block; }
.slider-one .owl-nav {display: inline-block; font-size: 40px; position: absolute; right: 0; top: -113px; }
.slider-one .owl-prev{margin-right: 15px;}
.slider-one .owl-prev:hover,  .slider-one .owl-next:hover {color:#7cc26b !important; }*/
/*slider end*/

/*--------------write-for-us page end---------------------*/



/*------------------our team start------------------------*/
.ourteam-content {margin-top: 60px; }
.our-team-inner {position: relative; min-height: 132px; margin-left: 65px; padding-left:110px; padding-top: 20px; padding-bottom: 25px; margin-bottom: 30px; } 
.our-team-text a {margin-top: 5px; display: block; text-decoration: underline; color: #7cc26b; }
.our-team-text:hover a { text-decoration: none;}
.head-top-cls {margin: 50px 0px; margin-top: 20px;display: inline-block;width: 100%; }
.border-shadow{border: 1px solid #cae0e7;
                 box-shadow: 1px 0px 7px rgba(203, 225, 231,0.26);
                 -webkit-box-shadow: 1px 0px 7px rgba(203, 225, 231,0.26);
                 -moz-box-shadow: 1px 0px 7px rgba(203, 225, 231,0.26);
                 -ms-box-shadow: 1px 0px 7px rgba(203, 225, 231,0.26);
                 -o-box-shadow: 1px 0px 7px rgba(203, 225, 231,0.26);
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;}
.border-shadow:hover{box-shadow: 0 4px 10px 0 rgba(203, 225, 231, 1), 0 4px 20px 0 rgba(203, 225, 231, 1);
                    -webkit-box-shadow: 0 4px 10px 0 rgba(203, 225, 231, 1), 0 4px 20px 0 rgba(203, 225, 231, 1);
                    -moz-box-shadow: 0 4px 10px 0 rgba(203, 225, 231, 1), 0 4px 20px 0 rgba(203, 225, 231, 1);
                    -ms-box-shadow: 0 4px 10px 0 rgba(203, 225, 231, 1), 0 4px 20px 0 rgba(203, 225, 231, 1);
                    -o-box-shadow: 0 4px 10px 0 rgba(203, 225, 231, 1), 0 4px 20px 0 rgba(203, 225, 231, 1);
                     }
.our-team-img {width: 132px; height: 132px; border-radius: 50%; overflow: hidden; border: 1px solid #cae0e7; position: absolute; left: -65px; top: -1px; }

/*-------------------our team end----------------------*/


/*--------------------Practice Reviews start------------------------*/

.practice-in-title p {padding: 15px 0px;}
.review-list p {padding-bottom: 10px;}
.practice-review-pg {margin-top: 40px;}

/*--------------------Practice Reviews end------------------------*/





/*------------------------management plan start-----------------------*/
.management-plan .write-inner .family-para {color: #666;}
.management-plan {margin-top: 38px;}
.write-inner {padding: 30px;  padding-bottom:20px;}

/*------------------------management plan end-----------------------*/





/*-----------------------footer start----------------------*/
#block-block-54 ul{margin: 80px 0 30px;}
.footer .col-lg-15, .col-md-15, .col-sm-15, .col-xs-15 {   padding-right: 5px; padding-left: 5px;}
#block-block-70 p {color: #3b286e;}
/*-----------------------footer end------------------------*/