

@media only screen and (max-width:1199px) {
   .team-outer {padding: 15px 10px;}
   .slider-one .categories-text h4 {font-size: 15px; line-height: normal;}
   .slider-one.categories-in { text-align: center; display: block; padding: 40px 0px 25px 0px;}
   .our-team-inner {padding-left: 90px; }
   .our-team-text h4{font-size: 16px;}
}

@media only screen and (max-width:991px) {
   .team-text-in h4{font-size: 16px;}
   .team-text-in p {font-size: 14px; line-height: normal; }
   .content-section {padding-bottom: 15px; margin-top: 55px;}
   .membership-in-img {margin-top: 40px; text-align: center;display: none; } 
   .membership-in-three {padding-left: 0; margin-top: 20px; }
   .membership-in-two {margin-top: 20px; }
   .join-details {padding-top: 15px;}

   .company-small-tag h2 {font-size: 24px; line-height: 32px;}
   .company-left-text h2 {font-size: 24px; line-height: 32px; margin-top: 0; margin-left: 0;}
   .company-summary:after {display: none;}
   .slider-one .categories-in {margin-bottom: 30px;}
}



@media only screen and (max-width:767px) {
    .text-right {text-align: left; }
    .career-row {padding: 15px 0px;}
    .career-link { font-size: 14px;}
    .content-section {margin-top: 55px;}
    .career-heading {font-size: 20px;}
    .main-content-heading {font-size: 18px; }
    .family-para {font-size: 14px;}
    .team-outer{min-height: auto;}
    .methodology-list li {font-size: 14px; padding: 4px 0px; }
    .join-details {padding-right:80px;padding-left: 80px;}
    .join-icon { position: static; display: block; text-align: left;padding: 10px 0px;}
    .blue-bg {width: 60px; }
    .join-details {padding-top:10px;}
    .membership-green {margin-top:20px;}
    .membership-green p {font-size: 16px;}
    .membership-pg .membership-green .family-para {padding: 15px;}
    .slider-one .owl-nav {display: inline-block; font-size: 40px; position: absolute; right: 0; top: 35%; left: 0; }
    .slider-one .owl-prev {float: left;}
    .slider-one .owl-next { float: right;}
    .company-small-tag h2 {font-size: 18px; line-height: normal; }
    .company-left-text h2 {font-size: 18px; line-height:normal; }
    .company-pg hr { margin: 20px 0px;}
    .company-summary {padding-bottom: 15px;padding-top: 15px;}
    .write-inner {padding: 15px; } 
    .write-inner .family-para {font-size: 16px; line-height: 22px;}
    .write-title {margin-top: 70px; }
    .content-section.methodology-pg.write-pg {margin-top: 15px;}
    .slider-one {margin-top: 25px; }
    .write-top-para {margin-top: 0; margin-bottom: 10px; }
    .write-pg .categories-text h4 {font-size: 16px; line-height: normal; }
    .write-top-para p {font-size: 14px; }
    .main-content-heading {font-size: 16px; line-height: normal; }
    .down-pd {margin: 20px 0px 5px 0px; }
    .form-outer {margin-bottom: 25px;}
    .content-section.membership-pg {padding-bottom: 30px;}
    .registration-in select, .registration-in input {height:40px;margin-bottom: 15px;}
    .membership-pg .form-group { margin-bottom: 0;}
    .form-header {margin-bottom: 15px; }
    .registration-in .note {margin-bottom: 10px;}
    .download-btn {height: 44px; line-height: 40px; font-size: 14px; }
    .membership-green {margin-top: 15px;}
    .methodology-inner { padding-left: 35px; position: relative; }
    .methodology-inner span {width: 25px; height: 25px; line-height: 25px; top: 20px; } 
     .our-team-text p {font-size: 14px;}
    .our-team-text a {font-size: 12px; }
    .our-team-img {position: static;display: inline-block;}
    .our-team-inner {padding-left: 0;text-align: center;margin-left: 0; }
    .head-top-cls { margin: 20px 0px; }

  }

@media only screen and (max-width:479px) {
    .blue-bg {width: 45px; font-size: 20px;}
    .join-text h4 {font-size:16px;margin: 0;padding-bottom:5px;}
    .join-text p {font-size: 14px; line-height: normal; }
    .join-details {padding-right:15px; padding-left:70px;}
    .blue-bg::after, .green-bg::after {border-top: 10px solid transparent;border-bottom: 10px solid transparent; }
    .blue-bg::after {border-left: 12px solid #4e3e6b; }
    .green-bg::after {border-left: 12px solid #7cc26b; }
    .company-left-text h2 {font-size: 14px;padding: 0; }
    
    
}


@media only screen and (max-width:399px) {
.slider-one .col-xs-6 {width: 100%;}
.slider-one .categories-in {margin-bottom: 15px; padding: 15px; }
.slider-one .categories-text {display: block; margin-top: 15px; }
.slider-one .categories-in{min-height: auto;}
.our-team-pg .col-md-4.col-sm-6.col-xs-6{width:100%}

}